<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport "content="width=device-width,initial-scale=1.0">
    <title>form todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
               <h1 class="text-center">create to do</h1>
               <div class="card-body">
                   <form th:action="@{/todos}" th:object="${todo}" method="POST">
                           <div class="form-group">
                               <label >shop's state</label>
                               <input
                                       type="text"
                                       name="state"
                                       th:field="*{state}"
                                       class="form-control"
                                       placeholder="enter the shop's state "/>
                           </div>
                           <div class="form-group">
                               <label >shop's city</label>
                               <input
                                       type="text"
                                       name="city"
                                       th:field="*{city}"
                                       class="form-control"
                                       placeholder="enter the shop's city "/>
                           </div>
                       <div class="form-group">

                       <label >shop name</label>
                           <input
                                   type="text"
                                   name="shopname"
                                   th:field="*{shopname}"
                                   class="form-control"
                                   placeholder="enter the shop name"/>
                       </div>




                       <div class="box-footer">
                           <button type="submit" class="btn btn-primary">
                               Submit
                           </button>
                       </div>

                   </form>
               </div>
           </div>
       </div>

   </div>
</body>
</html>